body
{
	margin: 0;
	padding: 0;
	font-family: 'Slabo 27px', serif !important;
}

h1, h2, h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif !important;
	letter-spacing: 1px;
}

.app{
	height: 100vh;
	/*background-color: #181717FF;*/

	color: #fff;
	position: relative;
	overflow-x: hidden;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.h{
	animation-duration: 5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.app-second{
	content: "";
	position: absolute;
	background-image: url("../img/chart3.jpg");
	width: 500%;
	height: 100%;
	top: 0;
	right: 0;
	filter: brightness(25%);
	animation: slider 100s linear infinite;
	background-repeat: repeat-x;
	background-size: contain;
	overflow-x: hidden;
}

@keyframes slider{
	100%{
		transform: translateX(3000px);
	}
}

.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: relative;
}

.forex,.binary,p{
	font-size: 23px;
}

